/* FORMULARIO */

.contactForm {
	display: flex;
	justify-content: center;
	align-items: start;
	margin: 5px;
	margin-top: 90px;
}

.form {
	background-color: rgb(235, 232, 232);
	width: 600px;
	min-width: 340px;
	border-radius: 8px;
	padding: 20px 30px;
	box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.inputContainer {
	position: relative;
	height: 45px;
	width: 95%;
	margin-bottom: 17px;
}

.input {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #3e4249;
	border-radius: 7px;
	font-size: 16px;
	padding-left: 10px;
	outline: none;
	background: none;
	z-index: 1;
}

	.input:focus {
		border: 2px solid purple;
	}

	:focus::placeholder{
		color:#3e4249;
	}

::placeholder {
	color: transparent;
}

.btn {
	display: flex;
	justify-content: center;
	padding: 8px 16px;
	background-color: #333;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #9867C5;
	transform: translateY(-2px);
}