.eliminar{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

table{
    padding: 20px;
    background-color: #2f3240;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

th{
    text-align: center;
    color: #fff;
    border: 1px solid lightslategray;
    padding: 10px;
}

td{
    text-align: center;
    color: #fff;
    border: 1px solid lightslategray;
    padding: 10px;
}

.btn {
	display: flex;
	justify-content: center;
	padding: 8px 16px;
	background-color: #22a09c;
	text-decoration: none;
	border-radius: 4px;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #9867C5;
	transform: translateY(-2px);
}